#filter {
  & .filter {
    padding: 2.25rem 0 5rem;
  }

  & .filter-wrapper {
    border-bottom: 1px solid $seventh-bg-color;

    padding: 0 1.69rem 2.25rem;
    margin-bottom: 3.12rem;
  }

  & .filter-title {
    font-size: 1.5rem;
    letter-spacing: -0.0675rem;
  }

  & .filter-list {
    gap: 0.94rem;

    padding: 0 1.69rem 1.25rem 1.69rem;
    margin-bottom: auto;
  }

  & .filter-list__item {
    display: flex;
    align-items: center;
    gap: 0.9375rem;

    &:not(:last-child) {
      margin-bottom: 1.25rem;
    }
  }

  & .filter-list__input {
    all: unset;

    width: 1.875rem;
    height: 1.875rem;

    background-image: url(../images/checkbox.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:checked {
      background-image: url(../images/checkbox-checked.svg);
    }
  }

  & .filter-list__label {
    font-family: 'Manrope', sans-serif;
    font-size: 0.9375rem;
    letter-spacing: -0.02344rem;
  }

  & .buttons-list {
    padding: 2.25rem 1.69rem 0;

    border-top: 1px solid $seventh-bg-color;
  }

  & .buttons-list__item {
    &:first-child {
      & .buttons-list__button {
        display: none;
        color: $primary-text-color;
        padding: 0 1.875rem 0 2.19rem;

        background-color: $secondary-bg-color;
      }
    }

    &:last-child {
      & .buttons-list__button {
        padding: 0 1.25rem;

        color: $white-color;
        background-color: $primary-text-color;
      }
    }
  }

  & .buttons-list__button {
    height: 3.25rem;

    border-radius: $secondary-radius;

    font-size: 0.8125rem;
    letter-spacing: -0.02031rem;
  }
}