#home {
  & .hero {
    position: relative;

    display: flex;
    align-items: flex-end;

    aspect-ratio: 1 / calc(754 / 375);

    padding-bottom: 4.37rem;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media screen and (min-width: 1920px) {
      aspect-ratio: 1 / calc(1080 / 1920);

      padding-bottom: 5.31rem;
    }
  }

  & .hero-title {
    margin-bottom: 1.25rem;

    line-height: calc(2.40125 / 2.125);

    color: $white-color;

    @media screen and (min-width: 992px) {
      max-width: 81.9375rem;

      margin: 0;

      line-height: calc(7.03125 / 5.625);
    }

    & strong {
      line-height: 1.13;

      color:  $accent-color;

      @media screen and (min-width: 992px) {
        z-index: 1;
        position: relative;

        color: $white-color;

        &::after {
          z-index: -1;
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          width: calc(100% + 1.125rem);
          height: 100%;

          background-color: $accent-color;
          border-radius: 0.5rem;
        }
      }
    }
  }

  & .hero-button{
    margin-bottom: 1.25rem;

    padding: 0 1.25rem;

    font-size: 0.8125rem;
    line-height: calc(1.01563 / 0.8125);
    letter-spacing: -0.02031rem;
    color: $white-color;
    background-color: $accent-color;

    @media screen and (min-width: 992px) {
      width: 15.875rem;
      height: 15.875rem;

      padding: 6.375rem 2.9375rem;
      margin: 0;

      text-align: center;
      font-size: 1.25rem;
      border-radius: 50%;

      line-height: calc(1.5625 / 1.25);
      letter-spacing: -0.03125rem;
    }

    &::after {
      content: '';
      display: inline-block;

      width: 0.75rem;
      height: 0.6875rem;

      background-image: url(../images/carret-right.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  & .hero-uppertitle{
    margin-bottom: 1.25rem;

    font-family: 'Manrope', sans-serif;

    color: $white-color;

    @media screen and (min-width: 992px) {
      position: absolute;

      display: flex;
      align-items: center;
      gap: 1.56rem;

      max-width: 26.0058rem;
      margin: 0;

      right: 12.441%;
      top: 50%;
    }
  }

  & .pre-title_icon{
    flex-shrink: 0;
  }
}

