#menu {
  background-color: $white-color;
  padding: 1.81rem 1.69rem 4.38rem;

  width: 94%;

  &.is-hidden {
    & .menu {
      transform: translateX(100%);
    }
  }

  & .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    background-color: black;
  }
}


#menu-menu-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.88rem;
  margin: 0 auto;

  & a {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: calc(1.875 / 1.5);

    letter-spacing: -0.0675rem;

    &:active,
    &:focus {
      color: $accent-color;
    }
  }
}

.menu-content {
  padding-top: 7.5rem;
}