.header {
  position: absolute;
  width: 100%;

  top: 1.56rem;
  left: 0;
  z-index: 200;

  &.white-theme {
    & .nav-list {
      & li {
        background-color: $third-bg-color;
      }

      & a {

        color: $white-color;

        transition: background-color 0.3s ease;
        &:hover {
          border-radius: inherit;
          background-color: $accent-color;
        }

      }
    }

    & .header-wrapper {
      @media screen and (max-width: 991px) {
        border: 1px solid rgba(255, 255, 255, 0.17);
        background-color: rgba(255, 255, 255, 0.05);
      }
    }

    & .languages-wrapper__icon {
      fill: $white-color;
    }

    & .languages-list__link {
      color: $white-color;
    }

    & .hamburger-inner {
      background-color: $white-color;
    }
  }

  &.black-theme {
    & .nav-list {
      & li {
        background-color: $secondary-bg-color;
      }
    }

    & .header-wrapper {
      @media screen and (max-width: 991px) {
        background-color: $secondary-bg-color;
      }
    }

    & .languages-wrapper__icon {
      fill: $accent-color;

      @media screen and (max-width: 767px) {
        width: 0.8125rem;
        height: 0.8125rem;
      }
    }

    & .hamburger-inner {
      background-color: $primary-text-color;
    }
  }

  & .custom-logo-link {
    width: 89px;
    height: 38px;

    @media screen and (min-width: 992px) {
      width: 187px;
      height: 78px;
    }
  }

  & .nav-list {
    display: flex;
    gap: 0.31rem;

    @media screen and (min-width: 768px) and (max-width: 991px) {
      gap: 1.31rem;


    }

    & li {
      border-radius: 0.3125rem;
      backdrop-filter: blur(7.5px);
    }

    & a {

      display: inline-block;

      padding: 0.62rem 1.25rem;

      font-family: 'Manrope', sans-serif;
      line-height: calc(1.38125 / 1.0625);
      letter-spacing: -0.02656rem;

      transition: background-color 0.3s ease;

      &:hover {
        color: $white-color;
        border-radius: inherit;
        background-color: $accent-color;
      }

      @media screen and (min-width: 768px) and (max-width: 991px) {
        padding: 0.32rem 0.75rem;

      }
    }
  }
}

.header-wrapper {
  @media screen and (max-width: 991px) {
    padding: 0.75rem;
    border-radius: 0.3125rem;
    backdrop-filter: blur(12.5px);
  }
}

.languages-wrapper {
  gap: 0.4375rem;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: 1.25rem;
  }

  @media screen and (min-width: 992px) {
    gap: 0.94rem;
  }
}

.languages-list {
  gap: 0.3125rem;

  @media screen and (min-width: 992px) {
    gap: 0.4375rem;
  }
}

.languages-list__link {
  font-family: 'Manrope', sans-serif;
  font-size: clamp(0.875rem, 0.814rem + 0.26vw, 1.125rem);
  line-height: calc(1.4625 / 1.125);
  letter-spacing: -0.02813rem;

  opacity: 0.4;

  &.current {
    opacity: 1;
  }
}

