html {
  box-sizing: border-box;
  font-size: 16px;

  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1.063rem);
  line-height: 1.4;
  letter-spacing: -0.00875rem;

  overflow-x: hidden;
  font-family: 'Unbounded', sans-serif;

  color: $primary-text-color;

  @media screen and (min-width: 992px){
    letter-spacing: -0.02656rem;
  }
}

main {
  flex: 1 1 auto;
}

.section{
  overflow-x: hidden;

  padding-top: 4.6875rem;

  @media screen and (min-width: 992px){
    padding-top: min(13.0209%, 15.625rem);
  }

  &--padding{
    padding-bottom: 4.6875rem;

    @media screen and (min-width: 992px){
      padding-bottom: min(13.0209%, 15.625rem);
    }
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: 400;
  line-height: 1.25;
}

p {
  margin-top: 0;
}

strong{
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;

  display: block;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.125rem);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: opacity 250ms linear, visibility 250ms linear;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;

  overflow-x: hidden;
  overflow-y: scroll;
}

.row {
  --bs-gutter-x: 1.25rem;
}

h1{
  font-size: clamp(2.375rem, 1.586rem + 3.37vw, 5.625rem);
  letter-spacing: -0.10688rem;

  @media screen and (min-width: 992px) {
    letter-spacing: -0.25313rem;
  }
}

