#blog {
  padding-top: 13.625rem;

  & .hero-title {
    margin-bottom: 6.25rem;
  }

  & .swiper-pagination {
    all: unset;

    & span {
      &:not(:last-child) {
        margin-right: 0.44rem;
      }
    }
  }

  & .swiper-pagination-bullet {
    all: unset;

    &.swiper-pagination-bullet-active {
      border-color: $accent-color;
      background-color: $accent-color;
      color: $white-color;
    }
  }

  & .swiper-pagination-bullet,
  & .blog-ctrl__item {
    border-radius: 0.5rem;
    border: 1px solid $fourth-bg-color;
    background-color: transparent;
    cursor: pointer;
  }

  & .swiper-pagination-bullet,
  & .swiper-pagination-bullet-ellipsis,
  & .blog-ctrl__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 4.375rem;
    height: 4.375rem;

    font-family: 'Manrope', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: calc(1.5625 / 1.25);
  }

  & .swiper-pagination-bullet,
  & .blog-ctrl__item {
    @include hover(stroke $black-color $white-color, fill $black-color $white-color, background-color transparent $accent-color, color $primary-text-color $white-color);
  }

  & .blog-ctrl {
    gap: 0.44rem;

    margin-top: 7.5rem;
  }
}