#about {
  padding-top: 7.19rem;

  & .hero-wrapper {
    padding: 2.5rem 1.44rem 2.5rem 1.69rem;
    border-radius: $fourth-radius;
    background-color: $secondary-bg-color;

    @media screen and (min-width: 992px) {
      aspect-ratio: 1 / calc(48.9375 / 111.25);

      padding: 5rem 0 0 0;
      border-radius: $eight-radius;
    }
  }

  & h1 {
    margin-bottom: 5.94rem;

    font-size: clamp(2.25rem, 1.431rem + 3.5vw, 5.625rem);

    line-height: calc(2.5875 / 2.25);

    @media screen and (max-width: 991px) {
      letter-spacing: -0.10125rem;
    }

    @media screen and (min-width: 992px) {
      margin-bottom: 3.5625rem;

      text-align: center;
      line-height: 1;
    }

    & strong {
      display: block;
      color: $secondary-text-color;
    }
  }

  & .hero-content {
    gap: 0.94rem;

    @media screen and (min-width: 992px) {
      gap: 1.25rem;
      margin-left: 51.9101%;
    }

    & h2 {
      margin-bottom: 0.94rem;

      font-size: clamp(1.313rem, 1.267rem + 0.19vw, 1.5rem);
      line-height: 1.25;

      @media screen and (max-width: 991px) {
        letter-spacing: -0.05906rem;
      }

      @media screen and (min-width: 992px) {
        line-height: 1.4;
        letter-spacing: normal;
      }

      & strong {
        display: block;
        color: $accent-color;
      }
    }
  }

  & .hero-content__icon {
    @media screen and (max-width: 991px) {
      width: 2.1875rem;
      height: 2.1875rem;
    }
  }

  & .hero-text {
    max-width: 15.5625rem;

    margin-bottom: 0.94rem;

    font-family: 'Manrope', sans-serif;
    font-size: 0.875rem;

    @media screen and (min-width: 992px) {
      max-width: 18.375rem;
      letter-spacing: -0.02188rem;
    }
  }

  & .hero-content__icon {
    fill: transparent;
    stroke: $accent-color;

    @media screen and (min-width: 992px) {
      padding-top: 0.12rem;
    }
  }

  & .hero-button {
    @media screen and (max-width: 991px) {
      width: 100%;
      height: 3.1875rem;
    }
  }

  & .hero-thumb {
    pointer-events: none;

    @media screen and (max-width: 991px) {
      height: 100%;
    }

    @media screen and (min-width: 992px) {
      aspect-ratio: 1 / calc(1330 / 2875);

      width: 80.7584%;
    }
  }
}