#blog {
  & .swiper-pagination {
    all: unset;

    & span {
      &:not(:last-child) {
        margin-right: 0.44rem;
      }
    }
  }

  & .swiper-pagination-bullet {
    all: unset;

    &.swiper-pagination-bullet-active {
      border-color: $accent-color;
      background-color: $accent-color;
      color: $white-color;
    }
  }

  & .swiper-pagination-bullet,
  & .blog-ctrl__item {
    border-radius: 0.5rem;
    border: 1px solid $fourth-bg-color;
    background-color: transparent;
    cursor: pointer;
  }

  & .swiper-pagination-bullet,
  & .swiper-pagination-bullet-ellipsis,
  & .blog-ctrl__item {
    width: 2.8125rem;
    height: 2.8125rem;

    font-family: 'Manrope', sans-serif;
    font-size: clamp(0.938rem, 0.862rem + 0.32vw, 1.25rem);
    line-height: 1.25;

    @media screen and (min-width: 992px) {
      width: 3.625rem;
      height: 3.625rem;
    }

    @media screen and (min-width: 1200px) {
      width: 4.375rem;
      height: 4.375rem;
    }
  }

  & .swiper-pagination-bullet:not(.swiper-pagination-bullet-active),
  & .blog-ctrl__item {
    @include hover(background-color transparent $secondary-bg-color);

    stroke: $black-color;
    fill: $black-color;
  }

  & .blog-ctrl {
    gap: 0.44rem;

    margin-top: 3.125rem;

    @media screen and (min-width: 768px) {
      margin-top: min(7.5rem, 6.7416%);
    }
  }
}