#cases {
  & .tag-list__item {
    color: $white-color;
    background-color: $white-color;

    @media screen and (max-width: 767px) {
      padding: 0.72rem 0.88rem;

      background-color: $accent-color;
    }

    @media screen and (min-width: 768px){
      padding: 0.94rem 1.25rem;
      letter-spacing: -0.04219rem;

      color: $primary-text-color;
    }
  }
}

.filter-list {
  gap: 0.31rem;

  margin-bottom: 3.75rem;
}

.filter-list__label {
  @include transition(color, background-color, border-color);

  padding: 1.5rem 1.8125rem;
  border: 1px solid $fourth-bg-color;
  border-radius: $seventh-radius;

  font-family: 'Manrope', sans-serif;
  font-size: clamp(0.938rem, 0.907rem + 0.13vw, 1.063rem);

  cursor: pointer;

  @media screen and (max-width: 991px){
    letter-spacing: -0.02344rem;
  }
}

.filter-list__input {
  all: unset;

  &:checked {
    & + .filter-list__label {
      color: $white-color;
      background-color: $accent-color;
      border-color: $accent-color;
    }
  }
}

.cases-list {
  row-gap: 1.56rem;

  @media screen and (min-width: 1920px) {
    row-gap: 2.5rem;
  }

  &.row {
    @media screen and (min-width: 1920px) {
      --bs-gutter-x: 2.5rem;
    }
  }
}

.cases-list__link {
  @media screen and (max-width: 991px) {
    background-image: initial;
  }

  @media screen and (min-width: 768px) {
    aspect-ratio: 1 / calc(38.3125 / 54.375);

    padding: min(2.1875rem, 4.023%);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border-radius: $fourth-radius;
    overflow: hidden;

    color: $white-color;
  }

  & .cases-list__thumb ul,
  & .cases-list__wrapper > ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 0.44rem;

      border: 1px solid $sixth-bg-color;
      border-radius: $secondary-radius;

      background-color: $fifth-bg-color;
      backdrop-filter: blur(8.5px);

      font-family: 'Manrope', sans-serif;
      color: $white-color;

      & h4 {
        margin-bottom: 0;

        font-size: clamp(0.875rem, 0.754rem + 0.52vw, 1.375rem);
        line-height: 1;
        font-weight: 500;
        letter-spacing: -0.03938rem;

        @media screen and (min-width: 768px) {
          letter-spacing: -0.06188rem;
        }
      }

      & p {
        margin-bottom: 0;

        font-size: clamp(0.563rem, 0.487rem + 0.32vw, 0.875rem);
        letter-spacing: -0.01406rem;

        @media screen and (min-width: 768px) {
          letter-spacing: -0.03938rem;
        }
      }
    }
  }
}

.cases-list__thumb {
  padding: 0.75rem 0.63rem;
  margin-bottom: 0.94rem;

  aspect-ratio: 1 / calc(14.375 / 21.5625);
  border-radius: $third-radius;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  & ul {
    gap: 0.0625rem;

    & li {
      aspect-ratio: 1 / calc(3.875 / 4.375);

      width: 21.55%;
      max-width: 5.625rem;
    }
  }
}

.cases-list__wrapper {
  & > div {
    flex-shrink: 0;
  }

  & > ul {
    gap: 0.1875rem;

    @media screen and (max-width: 767px){
      display: none !important;
    }

    @media screen and (min-width: 992px) and (max-width: 1439px){
      flex-direction: column;
      align-items: flex-end;
    }

    & li {
      aspect-ratio: 1 / calc(6.875 / 7.5);
      width: 100%;
      max-width: 7.5rem;

      padding: 0.94rem 0.56rem 0.94rem 0.94rem;

      @media screen and (max-width: 1439px){
        max-width: 6.25rem;
      }

      @media screen and (min-width: 992px) and (max-width: 1199px){
        width: 5rem;
      }
    }
  }
}

.cases-list__title {
  margin-bottom: 0.1875rem;

  font-size: clamp(1.313rem, 1.146rem + 0.71vw, 2rem);
  letter-spacing: -0.05906rem;

  @media screen and (min-width: 768px) {
    letter-spacing: -0.09rem;
  }
}

.cases-list__text {
  margin-bottom: 1.12rem;

  font-family: "Manrope", sans-serif;
  font-size: clamp(0.813rem, 0.752rem + 0.26vw, 1.063rem);

  @media screen and (max-width: 767px) {
    margin-bottom: 0.75rem;

    letter-spacing: -0.02031rem;
    opacity: 0.4;
  }
}

.all-cases-link{

  margin-top: 2.5rem;
  height: 3.5rem;

  @media screen and (min-width: 992px) {
    margin-top: 5rem;
  }
}