.cta-wrapper {
  border-radius: $primary-radius;
  background-color: $secondary-bg-color;
  background-repeat: no-repeat;
  background-position: right bottom;

  padding: 2.1875rem 1.875rem 7.5rem;

  @media screen and (min-width: 992px) {
    padding: 5rem;
  }

  &.home,
  &.services,
  &.contacts {
    background-size: 100%;

    @media screen and (max-width: 991px){
      padding: 2.1875rem 1.875rem max(55.3624%, 11.94rem);
    }

    @media screen and (min-width: 992px){
      background-size: 56.3483%;
    }

    & h2 {
      & strong {
        color: $accent-color;

        @media screen and (min-width: 992px) {
          position: relative;
          z-index: 1;

          color: $white-color;

          &::before {
            content: '';
            position: absolute;
            top: calc(50% + 0.3125rem);
            left: -0.46875rem;
            transform: translateY(-50%);
            z-index: -1;

            height: 100%;
            width: calc(100% + 1.6875rem);

            border-radius: $third-radius;

            background-color: $accent-color;
          }
        }
      }
    }
  }

  &.about,
  &.blog,
  &.single-case,
  &.single-service{
    @media screen and (min-width: 992px) {
      padding: 6.25rem;
    }
  }

  &.about {
    background-size: 21.0625rem;

    @media screen and (min-width: 992px) {
      background-size: 34.6067%;
    }

    & h2 {
      & strong {
        color: $accent-color
      }
    }
  }

  &.blog {
    background-size: 100%;
    background-color: $primary-text-color;

    @media screen and (max-width: 991px) {
      padding: 2.1875rem 1.875rem 11.4375rem;
    }

    @media screen and (min-width: 992px) {
      background-size: auto 100%;
    }

    & h2 {
      @media screen and (max-width: 1199px) {
        margin-bottom: 0.94rem;
      }
    }

    & .cta-text {
      gap: 0.625rem;

      margin-bottom: 1.375rem;

      @media screen and (min-width: 1200px) {
        gap: 0.94rem;

        margin-bottom: 3.125rem;
      }
    }

    & h2,
    & .cta-text {
      color: $white-color;
    }

    & > div {
      max-width: 48.5625rem;

      & p {
        & .wpcf7-form-control-wrap {
          flex: 1 0 17.8125rem;

          @media screen and (min-width: 768px) {
            flex: 1 0;
          }
        }

        & .cf7-button {
          flex: 1 0 17.8125rem;
          padding: 0 1.875rem;

          @media screen and (min-width: 768px){
            flex: initial;
            min-width: 12rem;
          }
        }
      }
    }
  }

  &.single-case {
    background-size: 93.623%;

    @media screen and (min-width: 992px) {
      background-size: 47.36%;
    }

    & h2 {
      & strong {
        color: $accent-color
      }
    }
  }

  &.single-service {
    background-size: 70.435%;

    @media screen and (min-width: 992px) {
      background-size: 45%;
    }

    & h2 {
      & strong {
        color: $accent-color
      }
    }
  }

  &:not(.blog) {
    border: 1px solid $fourth-bg-color;

    & .cta-text {
      margin-bottom: 0.94rem;
      opacity: 0.7;

      @media screen and (min-width: 992px) {
        margin-bottom: 2.1875rem;
        opacity: 0.6;
      }
    }

    & > div {
      @media screen and (min-width: 992px) {
        width: 60.5493%;
      }

      @media screen and (min-width: 1920px) {
        min-width: 61.25rem;
      }

      & p {
        & .wpcf7-form-control-wrap {
          @media screen and (max-width: 575px) {
            max-width: 17.8125rem;
          }

          @media screen and (min-width: 576px) {
            flex: 1 0 17.8125rem;
          }

          @media screen and (min-width: 992px) {
            flex: 1 0 21.875rem;
          }
        }

        & .cf7-button {
          @media screen and (max-width: 575px) {
            max-width: fit-content;
          }

          @media screen and (min-width: 576px) {
            flex: 1 0 11.25rem;
          }

          @media screen and (min-width: 992px) {
            flex: 1 0 16.875rem;
          }
        }
      }
    }
  }

  & h2 {
    font-size: clamp(1.875rem, 1.42rem + 1.94vw, 3.75rem);
    letter-spacing: -0.08438rem;

    @media screen and (min-width: 992px) {
      margin-bottom: 2.19rem;

      letter-spacing: -0.16875rem;
    }

    & br {
      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }

  & > div {
    & p {
      position: relative;

      display: flex;
      flex-wrap: wrap;
      gap: 0.3125rem;

      margin-bottom: 0;

      & .cf7-link{
        display: none;
      }
    }
  }
}

.cta-text {
  & br {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.cta-text__icon {
  @media screen and (max-width: 575px) {
    width: 1.0625rem;
    height: 1.0625rem;
  }
}

.cta-link {
  margin-top: 0.625rem;

  font-size: clamp(0.625rem, 0.549rem + 0.32vw, 0.938rem);
  line-height: calc(1.17188 / 0.9375);

  opacity: 0.7;

  @media screen and (max-width: 575px) {
    max-width: 11.25rem;
  }

  @media screen and (min-width: 992px) {
    width: 60.5493%;
    margin-top: 1.25rem;
  }

  & a {
    text-decoration: underline;
  }
}

.cta-text,
.cta-link {
  font-family: 'Manrope', sans-serif;
}
