#contacts{

  & h1{
    margin-bottom: 2.5rem;
    font-size: clamp(2.375rem, 1.586rem + 3.37vw, 5.625rem);
    @media screen and (min-width: 992px) {
      text-transform: uppercase;
      margin-bottom: 6.25rem;
    }
  }
  & .owners-list{
    justify-content: initial !important;
    margin-bottom: 3.75rem;
  }
  & .contacts-list{
    gap: 1.56rem 0;
    margin-bottom: 1.56rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: 992px) {
      gap: 3.75rem 0;
      margin-bottom: 3.75rem;

    }
  }

  & .contacts-list__item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & .contacts-list__text{
    margin-bottom: 0.94rem;

    font-family: 'Manrope' , sans-serif;

    opacity: 0.5;

    @media screen and (min-width: 992px) {
      margin-bottom: 1.25rem;
    }
  }

  & .contacts-list__link{


    font-size: clamp(1.063rem, 0.987rem + 0.32vw, 1.375rem);
    line-height: calc(1.32813 / 1.0625);
    letter-spacing: -0.04781rem;



    @media screen and (min-width: 992px) {
      max-width: 27.3125rem;

      line-height: calc(2.13125 / 1.375);
      letter-spacing: -0.06188rem;
    }
  }

  & .contacts-wrapper__thumb{
    aspect-ratio: 1 / calc(44.6875 / 45.625);
  }
}




