#single-blog {
  & .hero {
    height: 48.125rem;
    padding-bottom: 2.5rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: $white-color;

    @media screen and (min-width: 992px) {
      aspect-ratio: 1 / calc(70 / 120);

      padding-bottom: 7.0625rem;
      margin-bottom: -2.5rem;
    }

    & .info-list {
      gap: 2.5rem;
    }

    & .info-list__item {
      stroke: $white-color;
      fill: $white-color;
    }

    & .category-list__item {
      font-size: clamp(0.813rem, 0.782rem + 0.13vw, 0.938rem);
      letter-spacing: -0.04219rem;

      color: $primary-text-color;
      background-color: $white-color;
    }
  }

  & .hero-title {
    margin-bottom: 1.56rem;

    font-size: clamp(1.5rem, 0.954rem + 2.33vw, 3.75rem);
    letter-spacing: -0.0675rem;

    @media screen and (min-width: 992px) {
      margin-bottom: 2.94rem;

      line-height: 1.25;
      letter-spacing: -0.16875rem;
    }

    & br {
      @media screen and (max-width: 991px){
        display: none;
      }
    }
  }

  & .hero-content {
    font-family: 'Manrope', sans-serif;
  }
}

.category-list {
  gap: 0.31rem;
}

.category-list__item {
  padding: 0.94rem 1.25rem;
  border-radius: $seventh-radius;

  letter-spacing: -0.04219rem;
}

.info-list__item {
  gap: 0.75rem;

  font-size: clamp(0.875rem, 0.814rem + 0.26vw, 1.125rem);
}

.category-list__item,
.info-list__item {
  font-family: "Manrope", sans-serif;
}