.cta-wrapper {
  border-radius: $primary-radius;
  border: 1px solid $fourth-bg-color;
  background-color: $secondary-bg-color;
  background-repeat: no-repeat;
  background-position: right bottom;

  padding: 5rem;

  &.home,
  &.services,
  &.contacts {
    background-size: 56.3483%;

    & h2 {
      & strong {
        position: relative;
        z-index: 1;

        color: $white-color;

        &::before {
          content: '';
          position: absolute;
          top: calc(50% + 0.3125rem);
          left: -0.46875rem;
          transform: translateY(-50%);
          z-index: -1;

          height: 100%;
          width: calc(100% + 1.6875rem);

          border-radius: $third-radius;

          background-color: $accent-color;
        }
      }
    }
  }

  &.about,
  &.blog {
    padding: 6.25rem;
  }

  &.about {
    background-size: 34.6067%;

    & h2 {
      & strong {
        color: $accent-color
      }
    }
  }

  &.blog {
    background-size: 46.4044%;

    background-color: $primary-text-color;

    & .cta-text{
      opacity: 1;
    }

    & .cta-text,
    & h2 {
      color: $white-color;
    }
  }

  & h2 {
    margin-bottom: 2.19rem;

    font-size: clamp(1.875rem, 1.42rem + 1.94vw, 3.75rem);
    letter-spacing: -0.16875rem;
  }

  & > div {
    max-width: 60.5493%;

    & p {
      position: relative;

      display: flex;
      gap: 0.31rem;

      & .cf7-button {
        flex-shrink: 0;
      }
    }
  }
}

.cta-text {
  margin-bottom: 2.19rem;
}

.cta-link {
  margin-top: 1.25rem;

  font-size: clamp(0.625rem, 0.549rem + 0.32vw, 0.938rem);
  line-height: calc(1.17188 / 0.9375);

  & a {
    text-decoration: underline;
  }
}

.cta-text,
.cta-link {
   font-family: 'Manrope', sans-serif;
    opacity: 0.7;
}
