.cta-wrapper {
  border-radius: $primary-radius;
  border: 1px solid $fourth-bg-color;
  background-color: $secondary-bg-color;
  background-repeat: no-repeat;

  &.home,
  &.services,
  &.about,
  &.contacts {
    background-position: right bottom;
  }

  &.home,
  &.services,
  &.contacts {
    padding: 5rem;

    background-size: 56.3483%;

    & h2 {
      & strong {
        position: relative;
        z-index: 1;

        color: $white-color;

        &::before {
          content: '';
          position: absolute;
          top: calc(50% + 0.3125rem);
          left: -0.46875rem;
          transform: translateY(-50%);
          z-index: -1;

          height: 100%;
          width: calc(100% + 1.6875rem);

          border-radius: $third-radius;

          background-color: $accent-color;
        }
      }
    }
  }

  &.about {
    padding: 6.25rem;

    background-size: 34.6067%;

    & h2 {
      & strong {
        color: $accent-color
      }
    }
  }

  & h2 {
    margin-bottom: 2.19rem;

    font-size: 3.75rem;
    letter-spacing: -0.16875rem;
  }

  & > div {
    max-width: 60.5493%;
    margin-bottom: 1.25rem;

    & p {
      position: relative;

      display: flex;
      gap: 0.31rem;

      & .cf7-button {
        flex-shrink: 0;
      }
    }
  }
}

.cta-text {
  margin-bottom: 2.19rem;
}

.cta-link {
  font-family: 'Manrope', sans-serif;
  font-size: 0.9375rem;
  line-height: calc(1.17188 / 0.9375);

  & a {
    text-decoration: underline;
  }
}

.cta-text,
.cta-link {
  opacity: 0.7;
}
