.partners-text {
  gap: 0.94rem;
}

.partners-text__content {
  font-family: 'Manrope', sans-serif;
}

.partners-text,
.partners-text__content {
  align-self: flex-end;
}

.partners-text__icon {
  padding-bottom: 0.44rem;

  font-family: 'Unbounded', sans-serif;
  font-size: 2rem;
  letter-spacing: -0.05rem;

  color: $accent-color;
}

.partners-swiper-top {
  margin-bottom: 0.625rem;
}

.partners-swiper-bottom {
  margin-left: -10.625rem !important;
}

.partners-swiper-top,
.partners-swiper-bottom {
  width: 110.674%;

  & .swiper-wrapper {
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
  }
}

.partners-list,
.partners-list__content {
  @media screen and (max-width: 767px){
    display: flex;
    flex-wrap: wrap;
    gap: 0.3125rem;
  }

  & .partners-list__item {
    @media screen and (max-width: 767px){
      flex-basis: calc((100% - 0.3125rem) / 2);
    }
  }
}

.partners-list__wrapper {
  display: none;
}

.partners-list__item {
  aspect-ratio: 1 / calc(6.25 / 10.625);

  border-radius: $primary-radius;
  background-color: $secondary-bg-color;

  @media screen and (min-width: 768px) {
    aspect-ratio: 1 / calc(180 / 320);
  }

  & img {
    object-fit: contain;
    height: auto;
  }
}

.partners-button {
  margin: 2.1875rem auto 0;

  & .hide {
    display: none;
  }
}


