#home {

  & .about-section {
    border-radius: 0.9375rem;
    background-color: $white-color;

    @media screen and (min-width: 992px) {
      border-radius: 2.5rem;
    }
  }

  & .owners-list {
    margin-bottom: 2.19rem;

    @media screen and (min-width: 992px) {
      margin-bottom: 4.06rem
    }

    & ul {
      justify-content: center;
    }
  }

  & .about-title {
    margin-bottom: 2.19rem;

    font-size: clamp(1.625rem, 1.2rem + 1.81vw, 3.375rem);
    line-height: calc(2.03125 / 1.625);
    letter-spacing: -0.07313rem;

    @media screen and (min-width: 992px) {
      max-width: 62.0625rem;

      margin-bottom: 5rem;

      line-height: calc(4.21875 / 3.375);
      letter-spacing: -0.15188rem;
    }

    & strong {
      color: $accent-color;
    }
  }

  & .benefits-wrapper {
    & ul {
      display: flex;
      gap: 0.63rem;
      flex-direction: column;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 1.25rem;
      }

      & li {
        display: flex;
        flex-direction: column;

        padding: 1.56rem;

        font-family: 'Manrope', sans-serif;

        background-color: $secondary-bg-color;
        border-radius: $fourth-radius;

        @media screen and (min-width: 768px) {
          flex-basis: calc((100% - 1.25rem) / 2);
        }

        @media screen and (min-width: 992px) {
          padding: 3.125rem 3.15rem 2.94rem 3.15rem;
          border-radius: $primary-radius;
        }

        @media screen and (min-width: 1440px) {
          padding: 2.125rem 3.81rem 1.94rem 2.15rem;
          border-radius: $primary-radius;
        }

        & img {
          aspect-ratio: 1 / calc(6.5625 / 7.1875);
          max-width: 7.1875rem;

          margin-bottom: auto;

          border-radius: 0.625rem;

          @media screen and (min-width: 992px) {
            aspect-ratio: 1 / calc(11.5625 / 12.625);

            max-width: 12.625rem;

            border-radius: 0.9375rem;
          }
        }

        & h3 {
          margin-top: 1.87rem;
          margin-bottom: 0.94rem;

          font-size: clamp(1.25rem, 1.068rem + 0.78vw, 2rem);
          font-weight: 500;
          line-height: calc(1.5 / 1.25);
          letter-spacing: -0.0125rem;

          @media screen and (min-width: 992px) {
            margin-top: 6.06rem;
            margin-bottom: 1.56rem;

            line-height: calc(2.5 / 2);
            font-weight: 600;
            letter-spacing: -0.04rem;
          }

          & strong {
            font-weight: inherit;
            color: $accent-color;
          }

          & br {
            @media screen and (max-width: 575px) {
              display: none;
            }

            @media screen and (min-width: 992px) and (max-width: 1439px){
              display: none;
            }
          }
        }

        & p {
          margin: 0;

          & br {
            @media screen and (max-width: 1919px) {
              display: none;
            }
          }
        }

        & > br {
          display: none;
        }
      }
    }
  }

  & .benefits-link {
    display: flex;

    height: 3.3125rem;

    font-size: clamp(0.813rem, 0.585rem + 0.97vw, 1.75rem);
    letter-spacing: -0.02031rem;
    border-radius: 0.3125rem;

    color: $white-color;
    background-color: $accent-color;

    @media screen and (max-width: 1399px) {
      margin-top: 1.25rem;

      align-items: center;
      justify-content: center;

      background-image: url("../images/arrow-top-right.svg");
      background-position: top 0.44rem right 0.44rem;
      background-repeat: no-repeat;
      background-size: 1.5rem;

    }

    @media screen and (min-width: 1400px) {
      align-items: flex-end;
      justify-content: flex-start;

      background-image: url("../images/link_bg.webp"), url("../images/arrow-top-right.svg");
      background-position: center, top 0.9375rem right 0.9375rem;
      background-repeat: no-repeat;
      background-size: cover, 3.125rem;

      padding-left: 2.81rem;
      padding-bottom: 2.81rem;

      height: 100%;

      line-height: 1.75rem;
      letter-spacing: -0.07875rem;

      border-radius: $primary-radius;
    }
  }
}


