#home {
  & .processes-section {
    & .container {
      padding: 0;
    }
  }

  & .processes-wrapper {
    background-image: url("../images/process-bg.webp");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $accent-color;

    & .processes-wrapper__thumb {
      aspect-ratio: 1 / calc(320 / 375);

      border-radius: 0.9375rem 0 0 0.9375rem;

      @media screen and (min-width: 992px) {
        aspect-ratio: 1 / calc(960 / 960);
      }

    }
  }

  & .processes-wrapper__content {
    padding: 2.19rem 1rem;

    @media screen and (min-width: 992px) {
      padding: min(4.375rem, 7.2165%);
    }

    & h3 {
      margin-bottom: 1.25rem;
      font-size: clamp(1.875rem, 1.42rem + 1.94vw, 3.75rem);

      letter-spacing: -0.08438rem;

      color: $white-color;

      @media screen and (min-width: 992px) {
        max-width: 46.5rem;

        margin-bottom: 3.12rem;

        letter-spacing: -0.16875rem;
      }

      & strong {
        position: relative;
        z-index: 1;
        display: inline-block;

        font-size: clamp(1.875rem, 1.42rem + 1.94vw, 3.75rem);
        font-weight: 400;
        letter-spacing: -0.08438rem;

        color: $accent-color;

        @media screen and (min-width: 992px) {
          letter-spacing: -0.16875rem;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: -0.16875rem;
          transform: translateY(-50%);
          z-index: -1;

          height: 100%;
          width: calc(100% + 0.5875rem);

          border-radius: $third-radius;
          background-color: $white-color;

          @media screen and (min-width: 992px) {
            width: calc(100% + 0.5875rem);
            left: -0.16875rem;
          }
        }
      }
    }

    & p {
      max-width: 37.625rem;
      margin-bottom: 3.13rem;
      font-family: 'Manrope', sans-serif;
      font-size: clamp(0.875rem, 0.829rem + 0.19vw, 1.063rem);
      letter-spacing: -0.00875rem;

      color: $white-color;
      @media screen and (min-width: 992px) {
        margin: 0;

      }
    }
  }

  & .processes-wrapper__link {
    height: 3.3125rem;
    position: relative;

    font-size: clamp(0.813rem, 0.737rem + 0.32vw, 1.125rem);
    letter-spacing: -0.02031rem;

    border: 1px solid transparent;
    border-radius: $secondary-radius;
    color: $primary-text-color;
    background-color: $white-color;

    &:after {
      content: '';
      position: absolute;

      width: 0.75rem;
      height: 0.75rem;

      background-image: url("../images/arrow-btn.svg");
      top: 0.44rem;
      right: 0.44rem;
      background-size: contain;
      background-repeat: no-repeat;

      @media screen and (min-width: 992px) {
        width: 0.98544rem;
        height: 0.98544rem;

        top: 0.97rem;
        right: 0.97rem;
      }
    }

    @media screen and (min-width: 992px) {
      height: 5.3125rem;

      border-radius: $primary-radius;
    }
  }
}

.image-text-wrapper{
  left: 5.13rem;
  bottom: 5.53rem;
  gap: 1.62rem;
}
.processes-image-text{
  font-size: 1.25rem;
  letter-spacing: -0.03125rem;

  color: $white-color;

}



