#single-blog {
  & .details {
    height: 1000px;
    border-radius: 2.5rem;
    background-color: $white-color;
  }

  & .info-list {
    gap: 2.5rem;
  }

  & .info-list__item {
    gap: 0.75rem;

    font-family: 'Manrope', sans-serif;
    font-size: clamp(0.875rem, 0.814rem + 0.26vw, 1.125rem);
  }
}
