#single-blog {
  & .hero {
    aspect-ratio: 1 / calc(70 / 120);
    margin-bottom: -2.5rem;
    padding-bottom: 7.0625rem;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    color: $white-color
  }

  & .hero-title {
    margin-bottom: 2.94rem;
  }

  & .hero-content{
    font-family: 'Manrope', sans-serif;
  }

  & .info-list {
    gap: 2.5rem;
  }

  & .info-list__item {
    gap: 0.75rem;

    font-size: clamp(0.875rem, 0.814rem + 0.26vw, 1.125rem);
  }

  & .category-list {
    gap: 0.31rem;
  }

  & .category-list__item {
    padding: 0.94rem 1.25rem;
    border-radius: $seventh-radius;

    font-size: clamp(0.813rem, 0.782rem + 0.13vw, 0.938rem);
    letter-spacing: -0.04219rem;

    color: $primary-text-color;
    background-color: $white-color;
  }
}