.container {
  padding: 0 16px;

  @media screen and (max-width: 575px) {
    max-width: 375px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 80px;
  }
  @media screen and (min-width:1920px ) {
    max-width: 120rem;
    padding: 0 4.375rem;
  }
}

.button-primary{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.31rem;

  height: 3.6875rem;
  padding: 0 1.56rem;
  border: none;

  font-size: 0.9375rem;
  font-weight: 400;
  line-height: calc(1.17188 / 0.9375);
  letter-spacing: -0.02344rem;

  border-radius: 0.3125rem;

  color: $white-color;
  background-color: $accent-color;

  &::after {
    content: '';
    flex-shrink: 0;

    width: 0.75rem;
    height: 0.6875rem;

    background-image: url(../images/carret-right.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section-title{
  font-size: 3.75rem;
  line-height: 1.25;
  letter-spacing: -0.16875rem;
}

.cf7-input {
  all: unset;
  box-sizing: border-box;

  width: 21.875rem;
  height: 4.5rem;

  border-radius: $secondary-radius;
  border: 1px solid $fourth-bg-color;

  font-family: 'Manrope', sans-serif;

  background-color: $white-color;

  &::placeholder{
    opacity: 0.3;
  }

  &[name="username"]{
    padding-left: 1.75rem;
  }

  &[name="number"]{
    padding: 0 0 0 4.75rem !important;
  }
}

.cf7-button {
  width: 16.875rem;
  height: 4.5rem;
}

.intl-tel-input {
  & .selected-flag{
    padding-left: 1.75rem;

    & .iti-arrow{
      right: 0.81rem;
      opacity: 0.3;
    }
  }

  &.allow-dropdown{
    & .selected-flag {
      width: 4.75rem;
    }
  }
}

.wpcf7-spinner{
  position: absolute !important;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);

  margin: 0 !important;
}

.wpcf7-response-output,
.wpcf7-not-valid-tip{
  display: none !important;
}