.container {
  padding: 0 16px;

  @media screen and (max-width: 575px) {
    max-width: 375px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    padding: 0 80px;
  }
  @media screen and (min-width:1920px ) {
    max-width: 120rem;
    padding: 0 4.375rem;
  }
}

.button-primary{
  display: flex;
  align-items: center;
  gap: 0.31rem;

  height: 3.6875rem;
  padding: 0 1.56rem;
  border: none;

  font-size: 0.9375rem;
  font-weight: 400;
  line-height: calc(1.17188 / 0.9375);
  letter-spacing: -0.02344rem;

  border-radius: 0.3125rem;

  color: $white-color;
  background-color: $accent-color;

  &::after {
    content: '';
    width: 0.75rem;
    height: 0.6875rem;

    background-image: url(../images/carret-right.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}