$white-color: #FFF;

$primary-text-color: #010101;
$secondary-text-color: rgba(1, 1, 1, 0.10);

$secondary-bg-color: #F9F9F9;
$third-bg-color: rgba(255, 255, 255, 0.25);
$fourth-bg-color: #E9E9E9;

$accent-color: #72AFFF;

$dark-blue: #001648;
$duration: 200ms;
$timing-function: ease-in-out;

$primary-radius: 0.9375rem;
$secondary-radius: 0.3125rem;
$third-radius: 0.4375rem;
$fourth-radius :0.625rem;


