$white-color: #FFF;

$primary-text-color: #010101;

$secondary-bg-color: #F9F9F9;
$third-bg-color: rgba(255, 255, 255, 0.25);

$accent-color: #72AFFF;

$dark-blue: #001648;
$duration: 200ms;
$timing-function: ease-in-out;


